/* 89023e */

/* top-bar stylings */
.top-bar h3{
color:#89023e ;
font-weight: 400;
}
.top-bar a{
    color: #A49f96;
}
.top-bar a :hover{
    color: #89023e ;
    ;
}

/* top-bar stylings */

/* slider-images */
.main-slider img{

    height: 70vh;

}
/* slider-images */
.main-slider .carousel-caption{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.5805672610841212) 0%, rgba(137,2,62,1) 50%, rgba(45,3,22,0.6982143199076505) 75%);

}

/* program section styling */
.program  img{

    height: 300px;
    opacity: .7;
}

.program .card:hover img{
    opacity: 1;
}
.program .card:hover .card-body{
background-color: #89023e;
color:#ffff;
transition: .7s ease-in-out;
}
/* program section styling */

/* nav bar hover */
.navbar .navbar-brand{
    color: #ffff;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.5805672610841212) 0%, rgba(137,2,62,1) 50%, rgba(45,3,22,0.6982143199076505) 75%);}

    

/* nav bar hover */