/* 89023e */

/* top-bar stylings */
.top-bar h3{
color:#89023e ;
font-weight: 400;
}
.top-bar a{
    color: #A49f96;
}
.top-bar a :hover{
    color: #89023e ;
    ;
}

/* top-bar stylings */

/* slider-images */
.main-slider img{

    height: 70vh;

}
/* slider-images */
.main-slider .carousel-caption{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.5805672610841212) 0%, rgba(137,2,62,1) 50%, rgba(45,3,22,0.6982143199076505) 75%);

}

/* program section styling */
.program  img{

    height: 300px;
    opacity: .7;
}

.program .card:hover img{
    opacity: 1;
}
.program .card:hover .card-body{
background-color: #89023e;
color:#ffff;
transition: .7s ease-in-out;
}
/* program section styling */
/* pricing stylings */
.pricing{
    /* padding-top: 100px;
    padding-bottom: 100px; */
    background: linear-gradient(45deg, #89023e3b ,#026e8940,#89047c34),url(./images/10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
}
/* pricing stylings */
.btn-custom{
    background-color: #89023e;
    color: #fff;
    font-weight: 500;
    border-radius: 0px!important;
    padding-left: 50px;
    padding-right: 50px;
    
}
.btn-custom:hover{
    background-color: aqua;
}
.pricing .card{
    border-top: 5px solid #89023e ;
}
.pricing  .recommend{
    background-color: #89023e!important;
    color: white!important;
}
.pricing  .recommend .btn-custom{
    background-color: white;
    color: #89023e;
}
/* Timetable section stylings  */
.timetable{
    padding-top: 100px;
    padding-bottom: 100px;
}

.timetable p.title{
    background-color: #48CAE4;
    color: #ffffff;
}

.timetable img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
/* Timetable section stylings ends */


/* Upper footer section */
.upper-footer{
    background-color: #1f1f1f;
    color: #ffffff;
    padding-top: 80px;
    padding-bottom: 80px;
    /* text-align: left; */
    line-height: 32px;
}

.upper-footer ul{
    list-style-type: none;
}

.upper-footer a{
    color: #ffffff;
    text-decoration: none;
}
.upper-footer a:hover{
    color: #48CAE4;
    text-decoration: underline;
    margin-left: 8px;
    transition: .7s ease-in-out;
}
/* Upper footer section */

/* Lower footer section */
.lower-footer{
    background-color: #000000;
    color: #ffffff;
}

.lower-footer i{
    color: #48CAE4;
}
.lower-footer a{
    color: #48CAE4;
    text-decoration: none;
}
/* Lower footer section */
